.mainBackground {
    // --background: linear-gradient(74.24deg, #0D34BF 0%, #7493FF 100%);
    --background: white;
    height: 100%;
    width: 100%;
}

.login_text {
    color: #0D34BF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.fullName_text {
    width: 100%;
    padding: 0px 10px 0px 20px !important;
    height: 52px;
    border-radius: 14px;
    background: linear-gradient(104deg, rgba(255, 255, 255, 0.70) -4%, #FFF 111.16%);
    border: 2px solid #0D34BF;
    color: #0D34BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px 0px 0px;
}

.phoneNumber_text {
    width: 100%;
    padding: 0px 10px 0px 20px !important;
    height: 52px;
    border-radius: 14px;
    background: linear-gradient(104deg, rgba(255, 255, 255, 0.70) -4%, #FFF 111.16%);
    border: 2px solid #0D34BF;
    color: #0D34BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px 0px 0px;
}

.institution_text {
    width: 100%;
    padding: 0px 10px 0px 20px !important;
    height: 52px;
    border-radius: 14px;
    background: linear-gradient(104deg, rgba(255, 255, 255, 0.70) -4%, #FFF 111.16%);
    border: 2px solid #0D34BF;
    color: #0D34BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px 0px 0px;
}

.email {
    width: 100%;
    padding: 0px 10px 0px 20px !important;
    height: 52px;
    border-radius: 14px;
    background: linear-gradient(104deg, rgba(255, 255, 255, 0.70) -4%, #FFF 111.16%);
    border: 2px solid #0D34BF;
    color: #0D34BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px 0px 0px;
}

.password {
    width: 100%;
    padding: 0px 10px 0px 20px !important;
    height: 52px;
    border-radius: 14px;
    background: linear-gradient(104deg, rgba(255, 255, 255, 0.70) -4%, #FFF 111.16%);
    border: 2px solid #0D34BF;
    color: #0D34BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px 0px 0px;
}

.signIn_btn {
    --border-radius: 14px;
    --background: #0D34BF;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    margin: 0px;
    padding-top: 50px;
    height: 100px;
    text-transform: none;
}

.signup_text {
    color: black;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 25px 0px 0px 0px;
}

.signup_text-1 {
    color: #0D34BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.back {
    color: #0D34BF;
    font-size: 30px;
}