<ion-content class="mainBackground">
  <div class="center flex_col w_100 h_100" style="padding:20px;">
    <div class="center d_flex flex_col">
      <img style="width: 212px; height: 35px;" src="../../../assets/images/logo.png" />
    </div>

    <ion-button class="signIn_btn" (click)="isAlertOpen=true">Skip</ion-button>
    <ion-button class="signIn_btn" (click)="signIn()">Sign in</ion-button>
  </div>

  <ion-modal [isOpen]="isAlertOpen" (didDismiss)="isAlertOpen=false" cssClass="calendar1">
    <ng-template>
      <ion-content class="ion-padding content" style="--background: white !important;">
        <div class="h_100 w_100 center flex_col" style="position: relative;">
          <ion-icon class="modalClose_icon" (click)="isAlertOpen=false" name="close"></ion-icon>
          <ion-input class="pinCode_text" type="text" placeholder="Pin Code" name="pinCode"
            [(ngModel)]="pinCode"></ion-input>
          <ion-button class="signIn_btn" (click)="canutian()">Continue</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>