.categoriesCard {
    width: 100px;
    background: #E7ECFF;
    border-radius: 12px;
    padding: 15px 10px;
}

.materials_text {
    font-size: 10px;
    font-weight: 600;
    color: #0026AD;
    margin: 0px;
    padding-bottom: 10px;
    text-align: center;
    min-height: 25px;
}

.structureMaterials_img {
    height: 50px;
    width: 100%;
    object-fit: contain;
}