<ion-header>
  <div style="padding: 20px;">
    <div class="mainHeader">
      <div class="left" style="gap: 10px;">
        <ion-icon class="back_icon" name="chevron-back-outline" (click)="goBack()"></ion-icon>
        <ion-icon class="location_icon" name="location-outline"></ion-icon>
        <p class="number_text">{{userDetail?.pincode || pinCode}}</p>
      </div>
      <img *ngIf="!userDetail" class="user_icon" src="../../../assets/images/user.png" (click)="loginPage()" />
      <div class="username_div" (click)="profilePage()" *ngIf="userDetail">
        <p class="username_text">{{userDetail?.username?.charAt(0).toUpperCase()}}</p>
      </div>
    </div>
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px 20px 0px 20px;">
    <app-carousel-card></app-carousel-card>
  </div>

  <div class="w_100">
    <div class="goToItems_div">
      <p class="goToItems_text">{{brandName}}</p>
    </div>

    <div style="padding: 5px 10px 10px 10px;">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let items of brandData" style="margin-top: 5px;">
            <app-product-card [item]="items" width="100%"></app-product-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="noProducts_div" *ngIf="brandData.length === 0">
      <p class="noProducts_text">No Products</p>
    </div>
  </div>
</ion-content>