.categoriesCard {
    width: 100px;
    background: #E7ECFF;
    border-radius: 12px;
    margin-top: 20px;
    padding: 15px 10px;
}

.materials_text {
    font-size: 10px;
    font-weight: 600;
    color: #0026AD;
    margin: 0px;
    text-align: center;
    min-height: 25px;

}